.movieSection {
    max-width: 1280px;
    text-align: center;
}

.movieCardsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
}

.categoryTitle {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    color: #65cae1;
}

.viewBtnWrap {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.viewBtn {
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    max-width: 150px;
    transition: ease 0.3s;
    padding: 10px;
}

.viewBtn:hover {
    color: inherit;
    transform: scale(1.1);
}

.viewBtnLight {
    color: #65cae1;
    background-color: white;
    border: 2px solid #65cae1;
}

.viewBtnDark {
    color: white;
    background-color: #65cae1;
    border: 2px solid white;
}

