.movieCard {
  flex: 0 0 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid #65cae1;
  padding: 10px;
  justify-content: space-between;
}

.movieImg {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.cardBtn {
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  color: white;
  transition: ease-in 0.2s;
}


