.movieCard {
    flex: 0 0 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 3px solid #65cae1;
    padding: 10px;
    justify-content: space-between;
    min-height: 430px;
}

.movieImg {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}

.cardBtn {
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
    color: white;
    transition: ease-in 0.2s;
}

.movieTitle {
    cursor: pointer;
    transition: ease-in 0.2s;
    font-weight: bold;
    border-bottom: solid #65cae1 2px;
    padding-bottom: 10px;
}

.movieTitle:hover {
    color: #65cae1;
}

.cardContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


