.welcomeSection {
    position: relative;
    width: 100vw;
    margin-left: calc(49% - 50vw);
    margin-right: calc(50% - 50vw);
    height: 700px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}