.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 50px;
}

.toggleThemeWrap {
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px #65cae1 solid;
    transition: ease-in-out 0.3s;
}

.toggleThemeWrap:hover {
    background-color: #65cae1;
    border: 2px white solid;
}

.menuList {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menuItem a {
    transition: ease-in-out 0.2s;
    padding: 5px 10px;
    color: inherit;
}

.menuItemLight a {
    color: black;
}

.menuItemLight:hover {
    color: #65cae1;
}

.menuItemDark {
    color: white;
}

.menuItemDark:hover {
    color: #65cae1;
}

.menuItemActive {
    border-radius: 5px;
    border: 2px solid #a38d8d;
}

@media (max-width: 840px) {
    .menuList {
        flex-direction: column;
    }

    .header {
        margin-bottom: 10px;
    }
}

@media (max-width: 470px) {
    .header {
        flex-direction: column;
        gap: 20px;
    }
}
