.welcomeSection {
  position: relative;
  width: 100vw;
  margin-left: calc(49% - 50vw);
  margin-right: calc(50% - 50vw);
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcomeSectionTitle {
  font-size: 34px;
  font-weight: bold;
  font-style: oblique;
  padding: 10px 15px;
  border-radius: 10px;
  border: 3px solid #65cae1;
}

.darkTitle {
  background-color: #65cae1;
  color: white;
}

.lightTitle {
  background-color: white;
  color: #65cae1;
}

@media (max-width: 670px) {
  .welcomeSectionTitle {
    font-size: 17px;
  }
}
