.notFoundPageWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.notFoundTitle {
    font-size: 28px;
    font-weight: bold;
}

.notFoundLink {
    font-size: 20px;
    color: #65cae1;
    transition: 0.3s ease;
}

.notFoundLink:hover {
    transform: scale(1.2);
    color: #716a6a;
}