.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #65cae1;
    margin-top: 50px;
}

.footerInfo {
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
}

@media (max-width: 550px) {
    .footerInfo {
        font-size: 12px;
    }
}