.moviePage {
}

.genresList {
  list-style: none;
}

.actorsList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.similarMoviesWrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
